.Navbar {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: azure;
}

.Navbar-nav {
  max-width: 1140px;
}

.Navbar-ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.Navbar-ul > li {
  padding: 15px;
  margin: 10px 20px;
}
